{% extends "admin/layout.html.twig" %}

{% block title %}ログイン{% endblock %}
{% block content %}

    <div class="row">
      <div class="col-lg-12">
        <h2>ログイン</h2>
          <form class="form-horizontal" action="{{ path_for('admin_user_signin') }}" method="POST">
          <input type="hidden" name="csrf" value="{{ form.get('csrf').getValue() }}">
          {% for messages in form.getMessages %}
            {% for message in messages %}
          <font color="red">{{ message }}</font><br/>
            {% endfor %}
          {% endfor %}
          {% for message in errors %}
          <font color="red">{{ message }}</font><br/>
          {% endfor %}
          <div class="form-group">
            <label for="inputLoginId">ログインid</label>
            <input type="text" id="inputLoginId" name="login_id" value="{{ form.get('login_id').getValue() }}" >
          </div>
          <div class="form-group">
            <label for="inputPassword">パスワード </label>
            <input type="password" id="inputPassword" name="password" value="">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">ログイン</button>
          </div>
        </form>
      </div>
    </div>

{% endblock %}
