{% extends "admin/layout.html.twig" %}

{% block title %}サイト編集{% endblock %}
{% block breadcrumb %}
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for('admin_home_index') }}">home</a></li>
        <li class="breadcrumb-item"><a href="{{ path_for('admin_site_index') }}">サイト一覧</a></li>
        <li class="breadcrumb-item active">サイト編集</li>
      </ol>
{% endblock %}

{% block javascript %}
<script src="/dist/admin/site/edit.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-lg-12">
        <h2>編集</h2>
        <form class="form-horizontal" action="{{ path_for('admin_site_edit', {'id': form.get('id').getValue()}) }}" method="POST">
          <input type="hidden" name="id" value="{{ form.get('id').getValue() }}">
          <input type="hidden" name="confirm" value="1">
          <input type="hidden" name="csrf" value="{{ form.get('csrf').getValue() }}">
          {% for messages in form.getMessages %}
            {% for message in messages %}
          <font color="red">{{ message }}</font><br/>
            {% endfor %}
          {% endfor %}
          <div class="form-group">
            <label for="inputName">サイト名</label>
            <input type="text" id="inputName" name="name" value="{{ form.get('name').getValue() }}">
          </div>
          <div class="form-group">
            <label for="inputUrl">サイトURL</label>
            <input type="text" id="inputUrl" name="url" value="{{ form.get('url').getValue() }}">
          </div>
          <div id="root"></div>
          <div class="form-group">
            <label for="inputUrl">削除フラグ</label>
            <label>
              <input type="hidden" name="del_flg" value="{{ form.get('del_flg').getUncheckedValue() }}">
              <input type="checkbox" name="del_flg" value="{{ form.get('del_flg').getCheckedValue() }}" {% if form.get('del_flg').getValue() %}checked{% endif %}> 削除
            </label>
          </div>
          <div class="form-group">
            <label>作成日時</label>
            <p>{{ form.get('created_at').getValue() }}</p>
          </div>
          <div class="form-group">
            <label>更新日時</label>
            <p>{{ form.get('updated_at').getValue() }}</p>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">確認</button>
          </div>
        </form>
      </div>
    </div>
{% endblock %}
